* {
  box-sizing: border-box;
}
.bg-image {
  background-image: url('../bg/bg.png');
  background-size: cover;
  -webkit-background-size: cover;
  display: block;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  height: 100%;
  left: 0;
  position: fixed;
  right: 0;
  z-index: -1;

}
.container p {
  margin: 1%;
  font-weight: bold;
  color: #000000;
  opacity: 1;
}
.container {
  background: rgba(255, 255, 255, 0.35);
  border-radius: 3px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  top: 175px;
  left: 0;
  position: fixed;
  margin-left: 200px;
  margin-right: 200px;
  right: 0;
  padding: 0 10px;
  text-align: center;
}

.container h4, .container h2 {
  color: black;
}

.container ul {
  margin: 5%;
  font-weight: bold;
  color: #000000;
  opacity: 1;
}
.container img {
  max-width: 400px;
  max-height: 200px;
}
.logo img {
  margin: 0 auto;
  display: block;
  max-width: 500px;
  max-height: 150px;
}
.bottom-left {
  position: absolute;
  bottom: 0px;
  left: 20px;
  font-size: 12px;
  min-width: 260px;
}